#{extends 'main.html' /}
#{set title:'Detalhes' /}

<div class="card mb-3">
  	<div class="card-header">
    	<i class="fa fa-envelope"></i> Detalhes do E-mail</div>
  	<div class="card-body">		
  		<b>Envio em:</b> ${email.dataEnvio.format('dd/MM/yyyy hh:mm:ss')}, ${email.dataEnvio.since(true)}<br>
		<b>De:</b> ${email.de}<br>
		<b>Para:</b> ${email.para}<br>
		<b>Assunto:</b> ${email.assunto}<br>
		<b>Mensagem:</b> <br><br>
		${email.mensagem}<br><br>
		
		<br>
		<div class="">
			<a class="btn btn-primary" href="@{Contatos.form}">Enviar novo e-mail</a>
        </div>
        <br>
        <a href="@{Contatos.listar}">Ver todos os E-mails</a>
	</div>
</div>