#{extends 'main.html' /}
#{set title:'Detalhes' /}

<div class="card mb-3">
  	<div class="card-header">
    	<i class="fa fa-bookmark"></i>Detalhes do Projeto</div>
  	<div class="card-body">		
		<b>Nome:</b> ${projeto.nome}<br><br>
		<b>Descrição:</b> ${projeto.descricao}<br><br>
		
		<div class="card mb-3">
			<div class="card-header">
		    	<b>Professores associados ao projeto</b>
		    </div>
		  	<div class="card-body">
		  		#{if projeto?.professores}
				<table class="table table-striped">
			       	<thead >
				         <th rowspan="1" colspan="1">Nome do Professor</th>
			       	</thead>
			       	<tbody> 
						#{list items:projeto.professores, as:'professor'}
						<tr role="row">
				           <td><a href="@{Professores.detalhes(professor.id)}">${professor.nome}</a></td>
				        </tr>
						#{/list}
					</tbody>
		    	</table>
		    	#{/if}
		    	#{else}
		    		<p>Nenhum professor associado ao projeto. Edite o projeto para adicionar professor(es).</p>
		    	#{/else}
			</div>
		</div>
		<br>
		<div class="">
			<a class="btn btn-primary" href="@{Projetos.editar(projeto.id)}">Editar</a>
        </div>
        <br>
        <a href="@{Projetos.listar}">Ver todos os Projetos</a>
	</div>
</div>