#{extends 'main.html' /}
#{set title:'Formulário' /}

%{
	String tituloAcaoForm = projeto.id == null? "Cadastrar":"Editar"; 
	String tituloForm = projeto.id == null? "Cadastro":"Edição";
}%

<div class="card mb-3">
	  <div class="card-header">
	    <i class="fa fa-bookmark"></i> ${tituloForm} de Projeto</div>
	  <div class="card-body">
          
		<form action="@{Projetos.salvar}" method="post">
		   
		   <input type="hidden" value="${projeto?.id}" name="projeto.id">
		
			<div class="form-group">
			   <label for="nome">Nome:</label>
			   <input class="form-control" id="nome" type="text" value="${projeto?.nome}" name="projeto.nome">
			</div>
			
			<div class="form-group">
			  <label for="descricao">Descricao:</label>
			  <textarea name="projeto.descricao" class="form-control" rows="5" id="descricao">${projeto?.descricao}</textarea>
			</div>
			
			<div class="card mb-3">
			  <div class="card-header">
			    <i class="fa fa-fw fa-user"></i> Adicionar professor ao projeto</div>
			  <div class="card-body">
				<div class="form-group">
					<label for="professores">Selecione o professor para adicionar:</label>
					<div class="input-group mb-3">	
						
					   	<select id="sel-professor" class="form-control"">  
					   		#{list items:professores, as:'professor'}
					   			<option value="${professor.id}">${professor.nome}</option>
					   		#{/list}
					   	</select>
					
						<div class="input-group-append">	
							<button type="button" class="btn btn-success" id="add-professor">Adicionar Professor</button>
						</div>
					</div>
				</div>
				<br>
				
				<p><b>PROFESSORES ASSOCIADOS AO PROJETO:</b></p>
				
				<ul id="professores" class="list-group list-group-flush">
				#{if projeto != null && projeto.professores != null}
					#{list items:projeto.professores, as: 'professor'}
						<li id="li-prof-${professor.id}" class="list-group-item d-flex justify-content-between align-items-center">
							<input id='prof-${professor.id}' type='hidden' name='professorIDs' value='${professor.id}'>
							
							${professor.nome} 
														
							<button type="button" class="btn btn-danger btn-sm del-prof" value="${professor.id}">
          						<span class="glyphicon glyphicon-remove"></span> Remover 
        					</button>
						</li>
					#{/list}	
				#{/if}
			</ul>
			<br>
			  </div>
			</div>						    
			<input class="btn btn-primary" type="submit" value="${tituloAcaoForm}">
		</form>
		
<!-- 		#{verProfessores /} -->
	</div>
</div>


<script>
window.onload = function(){
	  
    $("#add-professor").click(function(){
    	
    	var professorAdicionado = function(idProfessor){
    		var inputHiddenProf = $("#prof-"+idProfessor);
    		console.log(inputHiddenProf);
    		console.log(inputHiddenProf.lenght);
    		return (inputHiddenProf.val());
    	};
    	
    	var selectProfessor = $('#sel-professor').find(":selected");
    	var nomeProfessor = selectProfessor.text();
    	var idProfessor = selectProfessor.val();
    	
    	var html = "<li id='li-prof-" + idProfessor + "' class='list-group-item d-flex justify-content-between align-items-center'> " +
		    		  	"<input id='prof-" + idProfessor + "' type='hidden' name='professorIDs' value='" + idProfessor + "'> " +
		    		  		nomeProfessor +
		    		  		"<button type='button' class='del-prof btn btn-danger btn-sm' value='" + idProfessor + "'>" +
		    		  		"<span class='glyphicon glyphicon-remove'></span> Remover " +
		    		  		"</button>" +
		    	   "</li>";
    	
		console.log(idProfessor);
		console.log(professorAdicionado(idProfessor));
		
		if(!professorAdicionado(idProfessor)){
			$("#professores").append(html);
		}else{
			$.notify('O professor <b>' + nomeProfessor + '</b> já foi adicionado.');
		}
        
        
        $(".del-prof").click(function(){
        	var idProfessor = $(this).attr("value");
        	$("#li-prof-" + idProfessor).remove();
        });
    });
    
    
    $(".del-prof").click(function(){
    	var idProfessor = $(this).attr("value");
    	$("#li-prof-" + idProfessor).remove();
    });
    
    $.notifyDefaults({
    	type: 'success',
    	allow_dismiss: true,
    });
    
};

</script>