#{extends 'main.html' /}
#{set title:'Listagem de Projetos' /}

<div class="card mb-3">
 <div class="card-header">
   <i class="fa fa-bookmark"></i> Listagem de Projetos</div>
 <div class="card-body">
    
     <table class="table dataTable" id="">
       <thead>
         <tr><th rowspan="1" colspan="1">#ID</th>
         <th rowspan="1" colspan="1">Nome</th>
         <th rowspan="1" colspan="1">Membros</th>
         <th rowspan="1" colspan="1">Ações</th>
       </thead>
       <tbody> 
      
	#{list items:projetos, as:'projeto'}
		<tr role="row">
           <td>${projeto.id}</td>
           <td>${projeto.nome}</td>
           <td>${projeto.professores.size()}</td>
           <td>
           		<a class="btn btn-info" title='Detalhes' href="@{Projetos.detalhes(projeto.id)}"><i class="fa fa-eye"></i></a>
           		<a class="btn btn-primary" title='Editar' href="@{Projetos.editar(projeto.id)}"><i class="fa fa-edit"></i></a>
           	  	<a class="btn btn-danger" title='Remover' href="@{Projetos.remover(projeto.id)}"><i class="fa fa-remove"></i></a>
           </td>
         </tr>
	#{/list}
	</tbody>
    </table>
    <br>
    <a class="btn btn-info" href="@{Projetos.form}">Cadastrar Projeto</a>
  </div>
</div>