

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login</title>
  <!-- Bootstrap core CSS-->
  <link href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="@{'/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="@{'/public/bootstrap/css/sb-admin.css'}" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Erro 404</div>
      <div class="card-body">
		<h3>Endereço não encontrado.</h3>
		#{if session.get("ususario") != null}
			Clique <a href="@{Application.index}">aqui</a> para ir para página inicial.
		#{/if}
		#{else}
			Clique <a href="@{Login.login}">aqui</a> para ir para página de login.
		#{/else}
		
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="@{'/public/bootstrap/vendor/jquery/jquery.min.js'}"></script>
  <script src="@{'/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
  <!-- Core plugin JavaScript-->
  <script src="@{'/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js'}"></script>
</body>

</html>
