#{extends 'main.html' /}
#{set title:'Listagem de Usuários' /}

<div class="card mb-3">
 <div class="card-header">
   <i class="fa fa-user"></i> Listagem de Usuários</div>
 <div class="card-body">
    
     <table class="table dataTable" id="">
       <thead>
         <tr><th rowspan="1" colspan="1">#ID</th>
         <th rowspan="1" colspan="1">email</th>
         <th rowspan="1" colspan="1">status</th>
       </thead>
       <tbody>
	#{list items:usuarios, as:'usuario'}
		<tr role="row">
           <td>${usuario.id}</td>
           <td>${usuario.email}</td>
           <td>${usuario.status}</td>
         </tr>
	#{/list}
	</tbody>
    </table>
<!--     <a class="btn btn-info" href="@{Professores.form}">Cadastrar Professor</a> -->
  </div>
</div>